<div class="footer">
    <div class="grid-3">
        <div class="text">
            <h2>Course4Me</h2>
            <p>all rights to or shani .. to see Policy <a href="">click here</a></p>
        </div>

        <form>
            <label for="">Want me to contact you ? Leave your email here .</label>
            <input class="form-control" type="text" placeholder="Enter your email">
            <button class="btn btn-danger">Send</button>
        </form>
        <img src="../../../assets/icons/icons8-book-16.png" class="icon" alt="">

    </div>
</div>